@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    height: 200px;
    background:  url('/assest/images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
}

p{
  word-wrap: normal;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #5D54A3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 12px;
    cursor: pointer;
    width: 40%;
    flex-direction: column;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

.owners{
display: flex;
padding-left: 70px;
 padding-right: 70px;
padding-top: 40px; 
}

.solve{
  padding-top: 6rem;
}
  
#btn{
  position: relative;
  left: 1rem;
  width: 15rem;
}

#remember{
  float: right;
  position: relative;
  top: 1rem;
  font-size: 1.1rem;
}
button{
  border: none;
  box-shadow: 3px 3px 5px .75px #ccc;
  border-radius: 5px; 
}

#claim{
  background-color: rgb(9, 105, 9);
}

.card{
  background: #f8f8f8;
  padding: 3rem;
  border-radius: 7px;
  height: 70vh;
  box-shadow: 3px 3px 5px .75px #ccc;
  margin-left: 3rem;
}
h1{
  font-size: 2.5rem;
  font-weight: 700;
}

@media only screen and (max-width:400px){
  .owners{
    box-sizing: border-box;
    width: 100% !important;
    display: block;
  }

  .solve{
    box-sizing: border-box;
    width: 100% !important;
  }
  .card{
    box-sizing: border-box;
    width: 20rem !important;
    height: 40rem;
    margin-left: -30px !important;
    position: relative;
    left: -3rem;
  }

  #claim{
    width: 15rem;
    position: relative;
    right: 1.5rem;
  }

  #btn{
    position: relative;
    left: -1.1rem;
  }

  input{
      box-sizing: border-box;      
      margin-left: -20px !important;
      padding-right: 1.5rem !important;
  }
}